section#contact.contact.flex-centre
    .wrapper
        //h1 Stinger is in development
        h1 Sign up to our mailing list to be kept up-to-date.
        form(action="")
            input(class="form__input" type="email" name="email" placeholder="Enter Email")
            input(class="form__button" type="submit" value="Submit")
