section#features.features
    .wrapper
        h1 What it can do...
        .icon-row            
            figure.icon-row__box
                //img(class="icon-row__box__graphic" src="../svg/person-circle.svg", alt="")
                svg(id="individual" class="icon-row__box__graphic")
                    use(xlink:href="res/icons.svg#person-circle")
                    title Individuals
                figcaption Individuals
                p  Individuals are allocated personal profiles allowing them to exhibit their taste in hot drinks - so people can always know how you like you brew!

            figure.icon-row__box
                //img(class="icon-row__box__graphic" src="../svg/people-circle.svg", alt="")
                svg(id="groups" class="icon-row__box__graphic")
                    use(xlink:href="res/icons.svg#people-circle")
                    title Groups
                figcaption Groups
                p  Create and manage groups so you can buzz your favorite coleagues or choose a tea brewer for your round. Users will be able to notify multiple people in advance of boiling the kettle in order to intice a congregation around the pot!

            figure.icon-row__box
                //img(class="icon-row__box__graphic" src="../svg/point-circle.svg", alt="")
                svg(id="location" class="icon-row__box__graphic")
                    use(xlink:href="res/icons.svg#point-circle")
                    title Location
                figcaption Location
                p   Use location services to find nearby stinger users who are planning on using their kettle. Meet new people or simply let passers-by know that there is boiling water in the pot waiting to be used.