section#info.info.flex-centre
    .wrapper
        h2 Stinger will change the way you think of the kettle.
          //- p Stinger can save water and electricity by sharing the boiling experience between more people.
          //- p Multiple people needn't use the kettle in succession as everyone can use it at once!
