section#info.info
    .wrapper
        h2 Stinger will change the way you think of the kettle.
        h1 Stinger can save water and electricity by sharing the boiing experience between more people.
        h1 Multiple people needn't use the kettle in succession as everyone can use it at once!