section#top.top
    .wrapper.cf
        img(class="hero", src="../res/iphone-cropped.png", alt="iphone")
        .content
            h2 STINGER
            p 
                | Stinger is an new app that is going to make the kettle social again! 
                em Busy Office? 
                em Quiet Library? 
                | Why not bring people together for a quick tea break? Save friends from disapointing thirst by letting everyone know in advance when the kettle is going to be on!
            p  Manage the kettle simply and efficiently by using one boil for multiple people! 
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolor sed temporibus vero deleniti possimus asperiores ipsum aliquid hic pariatur alias ut explicabo, illo quidem voluptatibus placeat. Eveniet, ex, ullam.