section#top.top
    .wrapper.cf
        img(class="hero", src="../res/iphone-cropped.png", alt="iphone")
        .content
            h2 STINGER
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolor sed temporibus vero deleniti possimus asperiores ipsum aliquid hic pariatur alias ut explicabo, illo quidem voluptatibus placeat. Eveniet, ex, ullam.
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolor sed temporibus vero deleniti possimus asperiores ipsum aliquid hic pariatur alias ut explicabo, illo quidem voluptatibus placeat. Eveniet, ex, ullam.