section#top.top.flex-centre
    .wrapper.cf
        img(class="hero", src="../res/iphone-ui-cropped.png", alt="iphone")
        .content
            h2 Stinger
            p Stinger is an new app that is going to make the kettle social again!
            em Busy Office? 
            em Quiet Library?
            p Why not bring people together for a quick tea break? Save friends from disapointing thirst by letting everyone know in advance when the kettle is going to be on!
            p  Manage the kettle simply and efficiently by using one boil for multiple people!
